*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 
form{
    width: 50%;
    margin: 0 auto;
}
 
input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
 
.erro{
    color: red;
    font-size: 14px;
}
 
button{
    background-color: green;
    color: #fff;
    padding:1px solid green;
    width: 100%;
    height: 50px;
}

button:hover{
    background: rgb(5, 71, 5)
}

.sucesso{
    color: green;
    padding-top: 10px;
}